;; shadow-cljs configuration
{:deps true
 :builds

       {:app {:target :browser
              :output-dir "docs/js"
              :main com.github.katievogel.reframe-practice.core/init!
              :modules {:main {:entries [com.github.katievogel.reframe-practice.core]}}
              :devtools {:repl-init-ns com.github.katievogel.reframe-practice.core
                         :repl-pprint true
                         :http-root "docs/"
                         :http-port 8888}}}}
